@font-face {
	font-family: "Roboto Regular";
	src:
		local("Roboto Regular"),
		url("/nerds/fonts/web/roboto.woff") format("woff");
}

@font-face {
	font-family: "Roboto Bold";
	src:
		local("Roboto Bold"),
		url("/nerds/fonts/web/robotobold.woff") format("woff");
}

@font-face {
	font-family: "Roboto Medium";
	src:
		local("Roboto Medium"),
		url("/nerds/fonts/web/robotomedium.woff") format("woff");
}

html, body {
	margin: 0;
	padding: 0;
	min-width: 1440px;

	font-family: "Roboto Regular", "Arial", sans-serif;
	font-size: 16px;
	line-height: 24px;
	font-weight: normal;
	color: #000000;

	background-color: #ffffff;
}

a {
	text-decoration: none;
}

.button {
	width: 160px;
	height: 50px;
	padding-top: 15px;
	padding-bottom: 15px;

	font-family: "Roboto Medium", "Arial", sans-serif;
	line-height: 18px;
	text-align: center;
	color: #ffffff;
	vertical-align: middle;
	text-transform: uppercase;

	background-color: #fb565a;
	border: none;
}

.button:hover,
.button:focus {
	background-color: #e74246;
}


.button:active {
	color: rgba(255, 255, 255, 0.3);

	box-shadow: inset 0 3px 0 0 rgba(0, 1, 1, 0.1);
	background-color: #d7373b;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
	position: absolute;

	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;

	white-space: nowrap;

	clip-path: inset(100%);
	clip: rect(0, 0, 0, 0);
	overflow: hidden;
}

.main-header {
	background-color: #eeeeee;
}

.main-header-logo {
	display: block;
	width: 160px;
	margin: 0;
	padding: 0;
	margin-right: 200px;
}

.main-header-logo img:hover, 
.main-header-logo img:focus {
	fill: #303030;
	opacity: 0.8;
}

.main-header-logo img:active {
	fill: #303030;
	opacity: 0.3;
}

.main-navigator {
	display: flex;
	align-items: center;
	width: 1160px;
	padding-right: 20px;
	padding-left: 20px;
	padding-top: 40px;
	padding-bottom: 35px;
	margin-left: auto;
	margin-right: auto;
}

.main-navigator a {
	font-family: "Roboto Medium", "Arial", sans-serif;
	font-size: 16px;
	line-height: 30px;
	color: #000000;
	text-transform: uppercase;
}

.main-navigator-list {
	display: flex;
	flex-wrap: wrap;
	width: 640px;
	list-style: none;
	margin: 0;
	padding: 0;
}

.main-navigator-list a {
	display: block;
	margin-right: 50px;
	padding-top: 4px;
	padding-bottom: 4px;
}

.main-navigator a:hover,
.main-navigator a:focus {
	color: #fb565a;
}

.main-navigator a:active {
	opacity: 0.3;
}

.main-navigator a.current {
	border-bottom: 1px solid #fb565a;
}

.goods-link {
	display: block;
	position: relative;
	width: 115px;
	margin: 0;
	padding: 0;
	padding-top: 4px;
	padding-bottom: 4px;
	margin-left: 45px;
	text-align: right;
}

.goods-link::before {
	content: "";

	position: absolute;
	top: 12px;
	left: 0px;
	
	width: 15px;
	height: 15px;

	background-image: url("../img/cart-icon.svg");
	background-repeat: no-repeat;
	background-position: 0 0;
}


.main-header-title {
	margin: 0;
	padding: 0;
	padding-top: 70px;
	padding-bottom: 105px;
	padding-left: 20px;
	padding-right: 20px;
	margin-right: auto;
	margin-left: auto;

	width: 1160px;

	font-family: "Roboto Medium", "Arial", sans-serif;
	font-size: 55px;
	line-height: 55px;
	text-align: center;
}

.slider {
	margin: 0;
	padding: 0;
	position: relative;
	margin-left: auto;
	margin-right: auto;
	padding-left: 20px;
	padding-right: 20px;
	width: 1160px;
}

.slider-list {
	width: 1160px;
	margin: 0;
	padding: 0;
}

.slider-item {
	position: relative;
	margin: 0;
	padding: 0;
	width: 1160px;
}


.slider-title {
	margin: 0;
	padding: 0;
	padding-top: 50px;
	padding-bottom: 13px;
	
	font-family: "Roboto Medium", "Arial", sans-serif;
	font-size: 55px;
	line-height: 55px;
}

.slide-1 .slider-title {
	width: 440px;
}

.slide-2 .slider-title {
	width: 525px;
}

.slide-3 .slider-title {
	width: 410px;
}

.slider-item p {
	margin: 0;
	padding: 0;
	padding-top: 13px;
	padding-bottom: 45px;
	width: 420px;
}

.slide-3 p {
	width: 360px;
}

.slider-list, .slider-indicator {
	list-style: none;
}

.slider-item img {
	position: absolute;
	right: 0;
	bottom: 0;
}

.slider-button {
	display: inline-block;
	width: 240px;
	height: 20px;
	vertical-align: middle;
	margin-bottom: 80px;
}

.slider-indicator {
	position: absolute;
	display: flex;
	width: 90px;
	justify-content: space-between;
	margin: 0;
	padding: 0;
	right: 550px;
	bottom: 95px;
	z-index: 1;
}

.slider input[type="radio"] {
	display: none;
}

.slider-indicator label {
	position: relative;
	display: inline-block;
	width: 18px;
	height: 18px;
	background-color: #ffffff;
	border-radius: 50%;
}

.slider .btn-1:checked ~ .slider-indicator label[for="btn-1"]::before,
.slider .btn-2:checked ~ .slider-indicator label[for="btn-2"]::before,
.slider .btn-3:checked ~ .slider-indicator label[for="btn-3"]::before {
	content: "";

	position: absolute;
	display: inline-block;
	width: 4px;
	height: 4px;
	background-color: #ffffff;
	border: 2px solid #c2c2c2;
	border-radius: 50%;
	top: 5px;
	left: 5px;
}

.slider-item {
	display: none;
}

.slider .btn-1:checked ~ .slider-list .slide-1 {
	display: block;
}

.slider .btn-2:checked ~ .slider-list .slide-2 {
	display: block;
}

.slider .btn-3:checked ~ .slider-list .slide-3 {
	display: block;
}

.container {
	width: 1160px;
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 50px;
	margin-left: auto;
	margin-right: auto;
}

.amenities-list {
	list-style: none;
	width: 1100px;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	margin: 0;
	padding: 0;
	margin-right: 60px;
	padding-bottom: 80px;

	border-bottom: 1px solid #eeeeee;
}

.amenities-item {
	margin: 0;
	padding: 0;
	width: 300px;
	margin-top: 80px;
}

.amenities-item-title {
	margin: 0;
	padding: 0;
	font-size: 24px;
	line-height: 30px;
	text-transform: uppercase;
	padding-top: 28px;
	padding-bottom: 11px;
}

.amenities-item p {
	margin: 0;
	padding: 0;
	padding-top: 11px;
	padding-bottom: 34px;
}

.amenities-item .button-green {
	background-color: #00ca74;
}

.amenities-item .button-green:hover, 
.amenities-item .button-green:focus {
	background-color: #00bc6c;
}

.amenities-item .button-green:active {
	color: rgba(255, 255, 255, 0.3);

	box-shadow: inset 0 3px 0 0 rgba(0, 1, 1, 0.1);
	background-color: #00aa62;
}

.amenities-item .button-yellow {
	background-color: #efc84a;
}

.amenities-item .button-yellow:hover,
.amenities-item .button-yellow:focus {
	background-color: #eab534;
}

.amenities-item .button-yellow:active {
	color: rgba(255, 255, 255, 0.3);

	box-shadow: inset 0 3px 0 0 rgba(0, 1, 1, 0.1);
	background-color: #e5a722;
}

.info-column {
	width: 1160px;
	display: flex;
	justify-content: space-between;
	margin: 0;
	padding: 0;
	margin-left: auto;
	margin-right: auto;
	padding-top: 40px;
	padding-bottom: 70px;

	border-bottom: 1px solid #eeeeee;
}

.orders-info {
	width: 680px;
	padding-top: 23px;
}

.orders-info p {
	margin: 0;
	padding: 0;
	padding-top: 17px;
	padding-bottom: 17px;
}

.orders-info span {
	font-weight: bold;
	display: inline-block;
	padding-top: 25px;
	padding-bottom: 5px;
}

.info {
	width: 380px;
}

.orders-info b {
	font-family: "Roboto Medium", "Arial", sans-serif;
	font-size: 45px;
	line-height: 45px;
}

.orders-info span {
	text-transform: uppercase;
}

.orders-list {
	list-style: none;
	padding: 0;
	margin: 0;
	padding-top: 10px;
}

.orders-item {
	position: relative;

	padding-left: 37px;
	padding-top: 15px;
	padding-bottom: 15px;
}

.orders-item::before {
	content: "";

	display: inline-block;
	position: absolute;
	width: 27px;
	height: 2px;
	top: 50%;
	left: 0;

	background-color: #fb565a;
}

.info img {
	margin-bottom: 40px;
}

.info-table {
	padding: 0;
	margin: 0;
	border-spacing: 10px;
}

.info-table caption {
	text-transform: uppercase;
	text-align: center;
	padding-top: 4px;
	padding-bottom: 46px;
}

.info-table tr {
	height: 55px;
}

.info-table th {
	font-size: 45px;
	line-height: 10,06px;
	text-align: left;
}

.info-table td {
	line-height: 18px;
	text-align: left;
}

.partners-list {
	list-style: none;
	width: 1160px;
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	margin: 0;
	padding: 0;
	margin-left: auto;
	margin-right: auto;

	border-bottom: 1px solid #eeeeee;
}

.partners a {
	text-align: center;
}

.partners img {
	opacity: 0.2;
}

.partners img:hover,
.partners img:focus {
	opacity: 1;
}

.partners img:active {
	opacity: 0.1;
}

.catalog-container {
	display: flex;
	justify-content: space-between;
	width: 1160px;
	margin-right: auto;
	margin-left: auto;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 55px;
}

.filter {
	width: 260px;
}

.catalog-column {
	width: 760px;
}

.filter fieldset {
	margin: 0;
	padding: 0;
	padding-bottom: 50px;
}

.range-filter {
	width: 260px;
	padding-bottom: 60px;
}

.range-controls {
	position: relative;
	height: 41px;
	padding-top: 39px;
	padding-right: 20px;
	padding-left: 20px;
	margin-bottom: 15px;
	border-radius: 5px;

	background-color: #eeeeee;
}

.range-controls .scale {
	height: 2px;
	background-color: #d7dcde;
}

.range-controls .bar {
	width: 65%;
	height: 2px;
	background-color: #00ca74;
}

.range-controls .toggle {
	position: absolute;
	top: 30px;
	left: 0;
	width: 4px;
	height: 4px;
	cursor: pointer;
	border: 8px solid #ffffff;
	border-radius: 50%;
	background-color: #ababab;
	box-shadow: 0 2px 1px 0 #d8d8d8;
}

.range-controls .toggle-min {
	left: 20px;
}

.range-controls .toggle-max {
	left: 145px;
}

.price-controls {
	font-size: 0;
}

.price-controls label {
	font-size: 16px;
	line-height: 22px;
	display: inline-block;
	width: 50%;
	text-transform: uppercase;
}

.max-price {
	text-align: right;
}

.price-controls input {
	font-family: "Roboto Regular", "Arial", sans-serif;
	font-size: 16px;
	width: 60px;
	margin-left: 10px;
	padding: 8px 10px;
	line-height: 22px;
	text-align: center;
	color: #283136;
	border: none;
	border-radius: 5px;
	background-color: #eeeeee;
}

.filter-grid, .properties, .sort-list {
	list-style: none;
	margin: 0;
	padding: 0;
}

.filter-grid, .properties {
	padding-top: 8px;
}

.filter-option {
	padding-top: 12px;
	padding-bottom: 12px;
	padding-left: 35px;
}

.filter fieldset, .sort fieldset {
	border: none;
}

.filter legend, .filter-price label {
	font-size: 18px;
	line-height: 30px;
	text-transform: uppercase;
}

.filter-option {
	position: relative;
	line-height: 20px;
	color: #283136;
}

.filter-option label::before {
	content: "";

	display: inline-block;
	position: absolute;
	width: 30px;
	height: 25px;
	top: 12px;
	left: 0;
}

.filter-input-radio ~ label::before {
	background-image: url("../img/radio-off.svg");
	background-repeat: no-repeat;
	background-position: 0 0;
}

.filter-input-radio:checked ~ label::before {
	background-image: url("../img/radio-on.svg");
	background-repeat: no-repeat;
	background-position: 0 0;
}


.filter-input-checkbox ~ label::before {
	background-image: url("../img/checkbox-off.svg");
	background-repeat: no-repeat;
	background-position: 0 0;
}

.filter-input-checkbox:checked ~ label::before {
	background-image: url("../img/checkbox-on.svg");
	background-repeat: no-repeat;
	background-position: 0 0;
}


.filter-input + label {
	opacity: 0.4;
}

.filter-input:hover + label,
.filter-input:focus + label {
	opacity: 1;
}

.filter-input:disabled + label {
	opacity: 0.3;
}

.filter-button {
	width: 100%;
	height: 45px;
	padding-top: 16px;

	font-family: "Roboto Medium", "Arial", sans-serif;
	font-size: 16px;
	line-height: 18px;
	color: #000000;

	background-color: #eeeeee;
}

.filter-button:hover,
.filter-button:focus {
	background-color: #dfdfdf;
}

.filter-button:active {
	color: rgba(0, 0, 0, 0.3);

	background-color: #d5d5d5;
	box-shadow: 0 3px 0 0 rgba(0, 1, 1, 0.1);
}

.sort {
	width: 760px;
	padding-bottom: 28px;
}

.sort fieldset {
	position: relative;
	margin: 0;
	padding: 0;
}

.sort legend {
	position: absolute;
	font-size: 18px;
	line-height: 18px;
	text-transform: uppercase;
}

.sort-list {
	display: flex;
	position: absolute;
	right: 100px;
	top: 0;
}

.sort-option {
	padding-left: 13px;
	padding-right: 13px;

	font-size: 14px;
	line-height: 18px;
	text-transform: uppercase;
}

.sort-indicator {
	position: absolute;
	right: 0;
	top: 0;
}

.sort-indicator img {
	margin-left: 20px;
}

.sort img, .sort-option label {
	opacity: 0.2;
}

.sort-indicator img:hover,
.sort-indicator img:focus,
.sort-input:hover + label,
.sort-input:focus + label {
	opacity: 0.6;
}

.sort-indicator img:active,
.sort-indicator .current,
.sort-input:active + label,
.sort-input:checked + label {
	opacity: 1;
}

.catalog {
	padding-top: 30px;
	padding-bottom: 20px;
}

.catalog-list {
	list-style: none;
	margin: 0;
	padding: 0;
	display: flex;
	width: 760px;
	flex-wrap: wrap;
	justify-content: space-between;
}

.catalog-item {
	position: relative;
	margin-top: 40px;
	margin-bottom: 35px;
	height: 576px;
	border: 1px solid rgba(0, 0, 0, 0);
}


.catalog-item img::before {
	content: "";

	display: inline-block;
	position: absolute;
	width: 360px;
	height: 40px;
	top: -40px;
	left: 0;

	background-image: url("../img/browser.svg");
	background-repeat: no-repeat;
	background-position: 0 0;
	opacity: 0.12;
}

.catalog-item:hover,
.catalog-item:focus {
	border: 1px solid rgba(77, 77, 77, 0.1);
	box-shadow: 0 6px 15px 0 rgba(0, 1, 1, 0.25);
}

.catalog-item:hover img::before,
.catalog-item:focus img::before {
	opacity: 1;
}

.catalog-item-info {
	display: none;
	position: absolute;
	bottom: 0;
	left: 0;

	padding-top: 30px;
	padding-left: 60px;
	padding-right: 60px;
	width: 240px;
	height: 200px;
	overflow-y: auto;

	background-color: #eeeeee;
}

.catalog-item-info-title {
	margin: 0;
	padding: 0;
	text-align: center;
}

.catalog-item-info-title a {
	display: inline-block;
	padding-bottom: 5px;

	font-size: 18px;
	line-height: 30px;
	text-transform: uppercase;
	color: #000000;
}

.catalog-item-info p {
	margin: 0;
	padding: 0;
	padding-top: 8px;
	line-height: 18px;
	text-align: center;
	color: #666666;
}

.catalog-button {
	width: 200px;
	height: 50px;
	margin-right: 20px;
	margin-left: 20px;
	margin-top: 30px;
	margin-bottom: 40px;

	font-family: "Roboto Medium", "Arial", sans-serif;
	font-size: 16px;
	line-height: 18px;
}

.catalog-item:hover .catalog-item-info,
.catalog-item:focus .catalog-item-info {
	display: block;
}

.pagination-list {
	display: flex;
	justify-content: flex-start;
	min-width: 445px;
	list-style: none;
	margin: 0;
	padding: 0;
	padding-top: 10px;
	padding-bottom: 30px;
}

.pagination-item {
	margin-right: 12px;
}

.pagination-item a {
	display: inline-block;
	min-width: 20px;
	height: 20px;
	border-radius: 5%;
	padding: 15px;

	font-family: "Roboto Medium", "Arial", sans-serif;
	font-size: 16px;
	line-height: 18px;
	text-transform: uppercase;
	color: #000000;
	text-align: center;
	vertical-align: middle;

	background-color: #eeeeee;
}

.pagination-item:last-child a {
	min-width: 100px;
	padding-left: 80px;
	padding-right: 80px;
}

.pagination-item a:hover,
.pagination-item a:focus {
	background-color: #dfdfdf;
}

.pagination-item a:active {
	color: rgba(0, 0, 0, 0.3);
	background-color: #d5d5d5;
	box-shadow: inset 0 3px 0 0 rgba(0, 1, 1, 0.1);
}

.pagination-list .current a {
	min-width: 15px;
	height: 15px;
	border: 3px solid #dbdbdb;
	background-color: white;
}

.footer-map {
	position: relative;

	margin-top: 30px;
	margin-bottom: 35px;
}

.footer-contacts {
	position: absolute;
	width: 220px;
	height: 210px;
	top: 55px;
	left: 140px;
	padding: 48px;
	overflow-y: auto;
	z-index: 1;

	background-color: white;
}

.footer-contacts p {
	display: inline-block;
	padding: 0;
	margin: 0;
	margin-right: auto;
	margin-left: auto;
	padding-top: 5px;
	padding-bottom: 5px;
	width: 220px;
	line-height: 18px;
	color: #989898;
}

.footer-contacts b {
	display: inline-block;
	margin-left: auto;
	margin-right: auto;
	padding-bottom: 15px;
	font-size: 18px;
	line-height: 30px;
	text-align: center;
	text-transform: uppercase;
	color: #000000;
}

.footer-button {
	width: 100%;
	height: 50px;
	margin-right: auto;
	margin-left: auto;
	margin-top: 30px;

	font-family: "Roboto Medium", "Arial", sans-serif;
	font-size: 16px;
	line-height: 18px;
}

.footer-map .map {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;

	margin: 0;
}

.footer-map iframe {
	position: relative;
	margin: 0;
	width: 100%;

	border: none;
}

.footer-map .marker {
	position: absolute;
	top: 65px;
	left: 820px;
}

.footer-social {
	display: flex;
	flex-wrap: wrap;
	width: 1160px;
	padding-top: 35px;
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 70px;
	margin-right: auto;
	margin-left: auto;
}

.footer-social-list {
	display: flex;
	justify-content: space-between;
	align-items: center;
	list-style: none;
	margin: 0;
	padding: 0;
	width: 260px;
}

.footer-social-item a {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 80px;
	height: 80px;
	border-radius: 50%;
	background-color: #e1e1e1;
}

.footer-social-item a:hover,
.footer-social-item a:focus {
	background-color: #e74246;
}

.footer-social-item a:active {
	background-color: #d7373b;
	box-shadow: inset 0 3px 15px 0 rgba(0, 1, 1, 0.1);
}

.footer-social-item a:active img {
	opacity: 0.3;
}

.footer-social p {
	width: 580px;
	margin: 0;
	padding: 0;
	margin-left: auto;
	margin-right: auto;

	line-height: 22px;
	color: #858585;
}

.footer-social b {
	display: inline-block;
	padding-top: 9px;
	padding-bottom: 9px;
	font-size: 36px;
	line-height: 36px;
	color: #000000;
}

@keyframes bounce {
	0% {
		transform: translateX(-2000px);
	}

	70% {
		transform: translateX(30px);
	}

	90% {
		transform: translateX(-10px);
	}

	100% {
		transform: translateX(0);
	}
}

@keyframes shake {
	0%,
	100% {
		transform: rotate(360deg);
	}

	25% {
		transform: rotate(90deg);
	}

	50% {
		transform: rotate(180deg);
	}
	
	75% {
		transform: rotate(270deg);
	}
}


.modal {
	position: fixed;
	top: 80px;
	left: 50%;
	z-index: 1;

	display: none;
	
	width: 760px;
	margin-left: -430px;
	min-height: 595px;
	padding-left: 100px;
	padding-right: 100px;

	background-color: white;
	box-shadow: 0 20px 40px 0 rgba(0, 1, 1, 0.75);
}

.modal-show {
	display: block;

	animation: bounce 0.6s;
}

.modal-error {
	animation: shake 0.6s;
}

.modal-title {
	padding: 0;
	margin: 0;
	margin-bottom: 45px;
	margin-top: 80px;

	font-family: "Roboto Medium", "Arial", sans-serif;
	font-size: 45px;
	line-height: 45px;
}

.login-form {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	width: 100%;
}

.modal label {
	line-height: 18px;
	margin-bottom: 40px;
}

.modal input {
	display: inline-block;
	width: 345px;
	height: 43px;
}

.modal textarea {
	width: 738px;
	min-height: 100px;
	padding-top: 10px;
}

.modal input,
.modal textarea {
	margin-top: 8px;
	padding-left: 15px;

	font: inherit;
	line-height: 18px;

	border: 2px solid #d7dcde;
}

.modal input:hover,
.modal textarea:hover {
	border: 2px solid #b4b9bb;
}

.modal input:focus,
.modal input:active,
.modal textarea:focus,
.modal textarea:active {
	border: 2px solid #000000;
}

.modal input:invalid,
.modal textarea:invalid {
	border: 2px solid #e74246;
	color: #e74246;
}

.modal-button {
	padding: 0;
	width: 260px;
}

.modal-button-close {
	position: absolute;
	top: 80px;
	right: 90px;

	width: 22px;
	height: 22px;

	font-size: 0;

	border: 0;
	background-color: transparent;

	cursor: pointer;
}

.modal-button-close::before {
	content: "";

	position: absolute;
	top: 0;
	right: 0;

	width: 22px;
	height: 22px;

	background-image: url("../img/close-cross.svg");
	background-repeat: no-repeat;
	background-position: 0 0;
}


.modal-button-close::before {
	opacity: 0.3;
}

.modal-button-close:hover::before,
.modal-button-close:focus::before {
	opacity: 1;
}

.modal-button-close:active::before {
	opacity: 0.1;
}
