@font-face {
	font-family: "Roboto Regular";
	src:
		local("Roboto Regular"),
		url("/nerds/fonts/web/roboto.woff") format("woff");
}

@font-face {
	font-family: "Roboto Bold";
	src:
		local("Roboto Bold"),
		url("/nerds/fonts/web/robotobold.woff") format("woff");
}

@font-face {
	font-family: "Roboto Medium";
	src:
		local("Roboto Medium"),
		url("/nerds/fonts/web/robotomedium.woff") format("woff");
}

html, body {
	margin: 0;
	padding: 0;
	min-width: 1440px;

	font-family: "Roboto Regular", "Arial", sans-serif;
	font-size: 16px;
	line-height: 24px;
	font-weight: normal;
	color: #000000;

	background-color: #ffffff;
}

a {
	text-decoration: none;
}

.button {
	font-family: "Roboto Medium", "Arial", sans-serif;
	line-height: 18px;
	text-align: center;
	color: #ffffff;
	vertical-align: middle;
	text-transform: uppercase;

	background-color: #fb565a;
	border: none;
}

.button:hover,
.button:focus {
	background-color: #e74246;
}


.button:active {
	color: rgba(255, 255, 255, 0.3);

	box-shadow: inset 0 3px 0 0 rgba(0, 1, 1, 0.1);
	background-color: #d7373b;
}

.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	clip: rect(0, 0, 0, 0);
	overflow: hidden;
}

.main-header {
	background-color: #eeeeee;
}

.main-navigator {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 1160px;
	padding-right: 20px;
	padding-left: 20px;
	padding-top: 40px;
	margin-left: auto;
	margin-right: auto;
}

.goods-link {
	width: 150px;
}

.main-header-logo {
	width: 200px;
}

.main-navigator-list {
	width: 820px;
}

.main-header-logo img:hover, 
.main-header-logo img:focus{
	fill: #303030;
	opacity: 0.8;
}

.main-header-logo img:active {
	fill: #303030;
	opacity: 0.3;
}

.main-header-title {
	margin-left: auto;
	margin-right: auto;
	padding-top: 75px;
	padding-bottom: 103px;
	padding-left: 20px;
	padding-right: 20px;
	width: 1160px;

	font-family: "Roboto Medium", "Arial", sans-serif;
	font-size: 55px;
	line-height: 55px;
	text-align: center;
	order: 2;
}

.main-navigator-list {
	list-style: none;
	margin: 0;
	padding: 0;
	width: 440px;
}	

.main-navigator a {
	font-family: "Roboto Medium", "Arial", sans-serif;
	font-size: 16px;
	line-height: 30px;
	color: #000000;
	text-transform: uppercase;
}

.main-navigator a:hover,
.main-navigator a:focus {
	color: #fb565a;
}

.main-navigator a:active {
	opacity: 0.3;
}

.main-navigator .current a {
	border-bottom: 1px solid #fb565a;
}

.slider-list {
	width: 1160px;
	margin: 0;
	padding: 0;
	margin-left: auto;
	margin-right: auto;
	padding-left: 20px;
	padding-right: 20px;
	
	background-color: #eeeeee;
}

.slider img {
	margin-left: -40px;
}

.slider-item {
	display: flex;
	justify-content: space-between;
}

.slider-title {
	font-family: "Roboto Medium", "Arial", sans-serif;
	font-size: 55px;
	line-height: 55px;
}

.slider-list, .slider-indicator {
	list-style: none;
}

.container {
	width: 1160px;
	padding-left: 20px;
	padding-right: 20px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 80px;
}

.amenities-list {
	list-style: none;
	width: 1160px;
	display: flex;
	margin: 0;
	padding: 0;
	margin-right: auto;
	margin-left: auto;
	padding-top: 80px;
}

.amenities-item {
	width: 300px;
	margin-right: 100px;
}

.amenities-item-title {
	font-size: 24px;
	line-height: 30px;
	text-transform: uppercase;
}

.amenities-item .button-green {
	background-color: #00ca74;
}

.amenities-item .button-green:hover, 
.amenities-item .button-green:focus {
	background-color: #00bc6c;
}

.amenities-item .button-green:active {
	color: rgba(255, 255, 255, 0.3);

	box-shadow: inset 0 3px 0 0 rgba(0, 1, 1, 0.1);
	background-color: #00aa62;
}

.amenities-item .button-yellow {
	background-color: #efc84a;
}

.amenities-item .button-yellow:hover,
.amenities-item .button-yellow:focus {
	background-color: #eab534;
}

.amenities-item .button-yellow:active {
	color: rgba(255, 255, 255, 0.3);

	box-shadow: inset 0 3px 0 0 rgba(0, 1, 1, 0.1);
	background-color: #e5a722;
}

.info-column {
	width: 1160px;
	display: flex;
	justify-content: space-between;
	margin: 0;
	padding: 0;
	margin-top: 160px;
	margin-left: auto;
	margin-right: auto;
}

.orders-info {
	width: 680px;
}

.info {
	width: 380px;
}

.orders-list {
	list-style: none;
}

.orders-info b {
	font-family: "Roboto Medium", "Arial", sans-serif;
	font-size: 45px;
	line-height: 45px;
}

.orders-info span {
	text-transform: uppercase;
}

.info caption {
	text-transform: uppercase;
	text-align: center;
}

.info th {
	font-size: 45px;
	line-height: 10,06px;
	text-align: left;
}

.info td {
	line-height: 18px;
	text-align: left;
}

.partners-list {
	list-style: none;
	width: 1160px;
	display: flex;
	justify-content: space-around;
	margin: 0;
	padding: 0;
	margin-left: auto;
	margin-right: auto;
	margin-top: 60px;
}

.partners a {
	text-align: center;
}

.partners img {
	opacity: 0.2;
}

.partners img:hover,
.partners img:focus {
	opacity: 1;
}

.partners img:active {
	opacity: 0.1;
}

.catalog-container {
	display: flex;
	justify-content: space-between;
	width: 1160px;
	margin-right: auto;
	margin-left: auto;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 55px;
}

.filter {
	width: 260px;
}

.catalog-column {
	width: 760px;
}

.filter fieldset {
	margin: 0;
	padding: 0;
	margin-bottom: 50px;
}

.filter-price {
	margin-bottom: 60px;
}

.filter-price input {
	font: inherit;
	color: #283136;

	border: 0;
	background-color: #eeeeee;
}

.price {
	background-color: #eeeeee;
}

.filter-grid, .properties, .sort-list {
	list-style: none;
	margin: 0;
	padding: 0;
}


.filter fieldset, .sort fieldset {
	border: none;
}

.filter legend, .filter-price label {
	font-size: 18px;
	line-height: 30px;
	text-transform: uppercase;
}

.filter-option {
	line-height: 20px;
	color: #283136;
}

.filter-input + label {
	opacity: 0.4;
}

.filter-input:hover + label,
.filter-input:focus + label {
	opacity: 1;
}

.filter-input:disabled + label {
	opacity: 0.3;
}

.filter-button {
	width: 260px;

	color: #000000;

	background-color: #eeeeee;
}

.filter-button:hover,
.filter-button:focus {
	background-color: #dfdfdf;
}

.filter-button:active {
	color: rgba(0, 0, 0, 0.3);

	background-color: #d5d5d5;
	box-shadow: 0 3px 0 0 rgba(0, 1, 1, 0.1);
}

.sort {
	width: 760px;
	padding-bottom: 55px;
}

.sort fieldset {
	margin: 0;
	padding: 0;
}

.sort legend {
	font-size: 18px;
	line-height: 18px;
	text-transform: uppercase;
}

.sort-option {
	font-size: 14px;
	line-height: 18px;
	text-transform: uppercase;
}

.sort img, .sort-option label {
	opacity: 0.2;
}

.sort img:hover,
.sort img:focus,
.sort-option label:hover,
.sort-option label:focus {
	opacity: 0.6;
}

.sort img:active,
.sort .current,
.sort-option label:active {
	opacity: 1;
}

.catalog {
	margin-bottom: 60px;
}

.catalog-list {
	list-style: none;
	margin: 0;
	padding: 0;
	display: flex;
	width: 760px;
	flex-wrap: wrap;
	justify-content: space-between;
}

.catalog-item img:hover,
.catalog-item img:focus {
	border: 1px solid rgba(77, 77, 77, 0.1);
	box-shadow: 0 6px 15px 0 rgba(0, 1, 1, 0.25);
}

.catalog-item-info {
	width: 360px;

	background-color: #eeeeee;
}

.catalog-item-info-title {
	font-size: 18px;
	line-height: 30px;
	text-transform: uppercase;
	text-align: center;
}

.catalog-item-info p {
	line-height: 18px;
	text-align: center;
	color: #666666;
}

.pagination-list {
	list-style: none;
	margin: 0;
	padding: 0;
	padding-bottom: 60px;
}

.pagination-item a {
	font-family: "Roboto Medium", "Arial", sans-serif;
	font-size: 16px;
	line-height: 18px;
	text-transform: uppercase;
	color: #000000;

	background-color: #eeeeee;
}

.pagination-item a:hover,
.pagination-item a:focus {
	background-color: #dfdfdf;
}

.pagination-item a:active {
	color: rgba(0, 0, 0, 0.3);
	background-color: #d5d5d5;
	box-shadow: inset 0 3px 0 0 rgba(0, 1, 1, 0.1);
}

.pagination-list .current a {
	border: 3px solid #dbdbdb;
	background-color: white;
}

.footer-contacts {
	width: 320px;
}

.footer-contacts p {
	line-height: 18px;
	color: #989898;
}

.footer-contacts b {
	font-size: 18px;
	line-height: 30px;
	text-align: center;
	text-transform: uppercase;
	color: #000000;
}


.footer-social {
	display: flex;
	width: 1160px;
	padding-top: 70px;
	margin-right: auto;
	margin-left: auto;
	padding-bottom: 65px;
	padding-left: 20px;
	padding-right: 20px;
}

.footer-social-list {
	list-style: none;
	margin: 0;
	padding: 0;
	width: 260px;
}

.footer-social p {
	width: 580px;
	margin-left: 120px;

	line-height: 22px;
	color: #858585;
}

.footer-social b {
	font-size: 36px;
	line-height: 36px;
	color: #000000;
}

.footer-social-item a {
	background-color: #e1e1e1;
}

.footer-social-item a:hover,
.footer-social-item a:focus {
	background-color: #e74246;
}

.footer-social-item a:active {
	background-color: #d7373b;
	box-shadow: inset 0 3px 15px 0 rgba(0, 1, 1, 0.1);
}

.footer-social-item a:active img {
	opacity: 0.3;
}

.modal-title {
	font-family: "Roboto Medium", "Arial", sans-serif;
	font-size: 45px;
	line-height: 45px;
}

.modal label {
	line-height: 18px;
}

.modal input,
.modal textarea {
	font: inherit;
	line-height: 18px;

	border: 2px solid #d7dcde;
}

.modal input:hover,
.modal textarea:hover {
	border: 2px solid #b4b9bb;
}

.modal input:focus,
.modal input:active,
.modal textarea:focus,
.modal textarea:active {
	border: 2px solid #000000;
}

.modal input:invalid,
.modal textarea:invalid {
	border: 2px solid #e74246;
	color: #e74246;
}

.button-modal-close img {
	opacity: 0.3;
}

.button-modal-close img:hover,
.button-modal-close img:focus {
	opacity: 1;
}

.button-modal-close img:active {
	opacity: 0.1;
}
